
// Language colors -----------------------------------
@uno-1: #FFFFFF;
@uno-2: #CCE0FF;
@uno-3: #B3D1FF;
@uno-4: #99C2FF;

@duo-1: #C083EF;
@duo-2: #9797D7;
@duo-3: #7CA4C7;

// Base colors -----------------------------------
@syntax-background: #253237;
@gutter-background: #29373D;
@gutter-text:       #00FFFF;
@syntex-text:       #E7DCC0;
@syntex-cursor:     #EC407A;
@syntax-flash:      #f5ffa6;
@syntax-string:     #FECF71;
@syntax-comment:    #84E0E0;
@syntax-bb:         #3FD5FD;

@syntax-renamed:    #0095AA;
@syntax-added:      #00AA7B;
@syntax-modified:   #F6B961;
@syntax-removed:    #D72862;
@syntax-guide:      fade(#9494C8, 7%);
@syntax-selection:  fade(#ABCDEF, 15%);
