@import "colors";

// General colors
@syntax-text-color:                         @syntex-text;
@syntax-cursor-color:                       @syntex-cursor;
@syntax-selection-color:                    @syntax-selection;
@syntax-selection-flash-color:              @syntax-flash;
@syntax-background-color:                   @syntax-background;

// Guide colors
@syntax-wrap-guide-color:                   @syntax-guide;
@syntax-indent-guide-color:                 @syntax-guide;
@syntax-invisible-character-color:          @syntax-guide;

// For find and replace markers
@syntax-result-marker-color:                fade(#40ECB2, 25%);
@syntax-result-marker-color-selected:       fade(#40ECB2, 80%);

// Gutter colors
@syntax-gutter-text-color:                  fade(@gutter-text, 30%);
@syntax-gutter-text-color-selected:         @gutter-text;
@syntax-gutter-background-color:            @syntax-background;
@syntax-gutter-background-color-selected:   @syntax-background;

// For git diff info. i.e. in the gutter
@syntax-color-added:                        @syntax-added;
@syntax-color-modified:                     @syntax-modified;
@syntax-color-removed:                      @syntax-removed;
@syntax-color-renamed:                      @syntax-renamed;
